PORT=4000
DATABASE_URL=postgres://user:password@localhost:5432/product_management
DATABASE_SSL=false
JWT_SECRET=pisang_goreng
JWT_EXPIRATION=1h
CAPTCHA_PROVIDER=recaptcha # or hcaptcha
CAPTCHA_SECRET_KEY=secret_key
# CAPTCHA_SECRET_KEY=6Ld_kuwrAAAAACcWxa_pnxM6JaNyLkYxRTqOcEEi (use this for testing)
# CAPTCHA_VERIFY_URL=https://custom-provider.example.com/siteverify (optional)
# CORS_ORIGIN=http://localhost:5173 (optional)